# enable pre/post scripts for pnpm
# https://thedaviddias.com/notes/how-to-fix-post-pre-build-pnpm
# https://github.com/pnpm/pnpm/issues/2891
enable-pre-post-scripts=true
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*