# https://github.com/vercel/next.js/issues/68805
# needed to use turbopack
legacy-peer-deps=true
public-hoist-pattern[]=import-in-the-middle
public-hoist-pattern[]=require-in-the-middle
public-hoist-pattern[]=motion/react
public-hoist-pattern[]=motion
public-hoist-pattern[]=keyv
public-hoist-pattern[]=chart.js
public-hoist-pattern[]=@prisma/client
public-hoist-pattern[]=@aws-sdk/client-s3
