<html>
  <body>
    <div style="background-color: #f5f5ff; padding: 32px 16px">
      <div style="background-color: white; margin: auto; max-width: 800px">
        <div style="box-shadow: 0 2px 7px 0 rgb(0 0 0 / 21%)">
          <img
            style="height: 200px"
            alt="France Chaleur Urbaine"
            src="https://raw.githubusercontent.com/betagouv/france-chaleur-urbaine/dev/public/logo-fcu-with-typo.jpg"
          />
          <div style="padding: 16px 32px">
            <div style="overflow-wrap: break-word">
              <p>Bonjour ! 👋</p>
              <p>
                Nous vous remercions d'avoir utilisé France Chaleur Urbaine.
                Notre service n’a malheureusement pas réussi à traiter votre
                fichier. Nos équipes ont été alertées de cette anomalie et nous
                faisons tout notre possible pour la résoudre.
              </p>
              <p>
                Dès que nous aurons réussi à analyser votre fichier nous vous
                transmettrons le résultat par mail.
              </p>
              <p>Nous vous prions de nous excuser pour la gène occasionnée.</p>
              <p>Cordialement,</p>
              <p>L'équipe France Chaleur Urbaine</p>
            </div>
          </div>
          <img
            style="height: 150px; margin-left: 32px"
            alt="France Chaleur Urbaine"
            src="https://upload.wikimedia.org/wikipedia/fr/2/22/Republique-francaise-logo.svg"
          />
        </div>
      </div>
    </div>
  </body>
</html>
