<html>
  <body>
    <div style="background-color: #f5f5ff; padding: 32px 16px">
      <div style="background-color: white; margin: auto; max-width: 800px">
        <div style="box-shadow: 0 2px 7px 0 rgb(0 0 0 / 21%)">
          <div style="padding: 16px 32px">
            <div style="overflow-wrap: break-word">
              <p><%- content %></p>
              <p><%= signature %></p>
            </div>
          </div>
          <div style="padding: 16px 32px">
            <div style="font-style: italic;">
              <p>Cet email a été envoyé via la plateforme France Chaleur Urbaine</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
