<html>

<body>
  <div style="background-color: #f5f5ff; padding: 32px 16px;">
    <div style="background-color: white; margin: auto; max-width: 800px;">
      <div style="box-shadow: 0 2px 7px 0 rgb(0 0 0 / 21%);">
        <img style="height: 200px;" alt="France Chaleur Urbaine"
          src="https://raw.githubusercontent.com/betagouv/france-chaleur-urbaine/dev/public/logo-fcu-with-typo.jpg">
        <div style="padding: 16px 32px;">
          <div style="overflow-wrap: break-word;">
            <p>Bonjour,</p>
            <% if (demands> 1) { %>
              <p>
                De nouvelles demandes ont été déposées sur France Chaleur Urbaine à proximité de votre réseau de
                chaleur.
              </p>
              <p>
                Pour retrouver les demandes, rendez-vous dans votre <a href="<%= link %>">espace gestionnaire</a>.
              </p>
              <p>
                Une fois les demandes prises en charge, nous vous invitons à actualiser le statut de celles-ci (en
                fonction de leur évolution).
              </p>
              <%} else { %>
                <p>
                  Une nouvelle demande a été déposée sur France Chaleur Urbaine à proximité de votre réseau de chaleur.
                </p>
                <p>
                  Pour retrouver la demande, rendez-vous dans votre <a href="<%= link %>">espace gestionnaire</a>.
                </p>
                <p>
                  Une fois la demande prise en charge, nous vous invitons à actualiser le statut de celle-ci (en
                  fonction de son évolution).
                </p>
                <% } %>
                  <p>
                    À noter : certaines demandes peuvent être éloignées du réseau de chaleur. France Chaleur Urbaine
                    transmet l’ensemble des demandes reçues aux gestionnaires des réseaux dans l’éventualité de projets
                    d’extension.
                  </p>
                  <p>
                    <em style="font-size: 14px;">
                      Lors de la première connexion, il est nécessaire de cliquer sur "Mot de passe oublié" pour créer
                      votre mot de passe.
                    </em>
                  </p>
                  <p>Bien cordialement,</p>
                  <p>L'équipe France Chaleur Urbaine</p>
          </div>
        </div>
        <img style="height: 150px; margin-left: 32px;" alt="France Chaleur Urbaine"
        src="https://upload.wikimedia.org/wikipedia/fr/2/22/Republique-francaise-logo.svg">
      </div>
    </div>
  </div>
</body>

</html>