<html>

<body>
  <div style="background-color: #f5f5ff; padding: 32px 16px;">
    <div style="background-color: white; margin: auto; max-width: 800px;">
      <div style="box-shadow: 0 2px 7px 0 rgb(0 0 0 / 21%);">
        <img style="height: 200px;" alt="France Chaleur Urbaine"
          src="https://raw.githubusercontent.com/betagouv/france-chaleur-urbaine/dev/public/logo-fcu-with-typo.jpg">
        <div style="padding: 16px 32px;">
          <div style="overflow-wrap: break-word;">
            <p>Bonjour ! 👋</p>
            <p>
              Nous vous remercions d'avoir utilisé France Chaleur Urbaine. Vous trouverez dans le fichier ci-joint le résultat de votre recherche. L'onglet "Légende" vous permettra de comprendre à quoi correspondent les différentes colonnes du fichier.
            </p>
            <p>
              Vous souhaitez visualiser les adresses testées sur notre cartographie ? Cliquez pour cela sur le lien ci-dessous :
            </p>
            <p>
              <a href="<%= link %>"
                style="background-color: #000091; color: white; font-size: 1.25rem; line-height: 2rem; min-height: 3.5rem; padding: .75rem 2rem; cursor: pointer; text-decoration: none; margin-right: 16px;">
                Voir ma carte
              </a>
            </p>              
              Pour toute question, n'hésitez pas à nous recontacter en répondant à ce mail.
            </p>
            <p>
              L'équipe France Chaleur Urbaine
            </p>
          </div>
        </div>  
        <img style="height: 150px; margin-left: 32px;" alt="France Chaleur Urbaine"
        src="https://upload.wikimedia.org/wikipedia/fr/2/22/Republique-francaise-logo.svg">
      </div>
    </div>
  </div>
</body>

</html>