<html>
  <body>
    <div style="background-color: #f5f5ff; padding: 32px 16px">
      <div style="background-color: white; margin: auto; max-width: 800px">
        <div style="box-shadow: 0 2px 7px 0 rgb(0 0 0 / 21%)">
          <img
            style="height: 200px"
            alt="France Chaleur Urbaine"
            src="https://raw.githubusercontent.com/betagouv/france-chaleur-urbaine/dev/public/logo-fcu-with-typo.jpg"
          />
          <div style="padding: 16px 32px">
            <div style="overflow-wrap: break-word">
              <p>Bonjour,</p>
              <p>
                Nous vous informons que
                <b
                  >vous pouvez dès aujourd’hui accéder à votre « Espace
                  gestionnaire » sur France Chaleur Urbaine</b
                >
                L’Espace gestionnaire permet aux collectivités et exploitants
                d’accéder à l’ensemble des demandes reçues via France Chaleur
                Urbaine sur leur territoire / leurs réseaux.
              </p>
              <p>
                Pour accéder à cet espace, il vous suffit de cliquer sur « <a
                  href="<%= link %>/connexion"
                  >Espace gestionnaire</a
                > ».  <b
                  >Lors de la première connexion, il est nécessaire de cliquer
                  sur "Mot de passe oublié" pour définir votre mot de passe.</b
                >
              </p>
              <p>
                Si vous êtes destinataire de ce message, c’est qu’au moins une
                demande de raccordement a été reçue à proximité de votre réseau
                dans les derniers mois.
              </p>
              <p>
                <b
                  >Nous invitons les gestionnaires des réseaux à renseigner le
                  statut des demandes dès lors qu’elles sont prises en
                  charge.</b
                >
                Cette information a uniquement pour but de nous permettre
                d’évaluer l’impact de notre service à l’échelle nationale.
              </p>
              <p>
                Pour rappel,
                <a href="<%= link %>/collectivites-et-exploitants"
                  >France Chaleur Urbaine</a
                >
                est un
                <b
                  >service du ministère de la transition énergétique qui vise à
                  accélérer la dynamique de raccordement aux réseaux de
                  chaleur</b
                >. France Chaleur Urbaine permet :
              </p>
              <ul>
                <li>
                  <b
                    >aux copropriétaires et gestionnaires de bâtiments
                    tertiaires</b
                  >
                  de vérifier si un réseau de chaleur passe près de leur adresse
                  et d’être mis en relation avec le gestionnaire du réseau le
                  plus proche ;
                </li>
                <li>
                  <b>aux collectivités et exploitants des réseaux de chaleur</b>
                  de disposer d’outils simples pour multiplier les raccordements
                  à leurs réseaux.
                </li>
              </ul>
              <p>
                Nous vous remercions pour votre collaboration et restons à votre
                disposition pour toute information complémentaire.
              </p>
              <p>Bien cordialement,</p>
              <p>L'équipe France Chaleur Urbaine</p>
            </div>
          </div>
          <img
            style="height: 150px; margin-left: 32px"
            alt="France Chaleur Urbaine"
            src="https://upload.wikimedia.org/wikipedia/fr/2/22/Republique-francaise-logo.svg"
          />
        </div>
      </div>
    </div>
  </body>
</html>
