<html>

<body>
  <div style="background-color: #f5f5ff; padding: 32px 16px;">
    <div style="background-color: white; margin: auto; max-width: 800px;">
      <div style="box-shadow: 0 2px 7px 0 rgb(0 0 0 / 21%);">
        <img style="height: 200px;" alt="France Chaleur Urbaine"
          src="https://raw.githubusercontent.com/betagouv/france-chaleur-urbaine/dev/public/logo-fcu-with-typo.jpg">
        <div style="padding: 16px 32px;">
          <div style="overflow-wrap: break-word;">
            <p>Bonjour ! 👋</p>
            <p>
              Pour réinitialiser votre mot de passe, veuillez cliquer sur le bouton suivant (valable pendant 1 heure) :
            </p>
            <p>
              <a href="<%= link %>"
                style="background-color: #000091; color: white; font-size: 1.25rem; line-height: 2rem; min-height: 3.5rem; padding: .75rem 2rem; cursor: pointer; text-decoration: none; margin-right: 16px;">
                Réinitialiser
              </a>
            </p>
            <br />
            <br />
            <div>
              Si le bouton ne fonctionne pas, veuillez copier directement le lien ci-dessous et le coller dans la barre
              d'adresse de votre navigateur :
            </div>
            <p>
              <%= link %>
            </p>
            <p>
              Et si cela ne fonctionne toujours pas, ou en cas d'autres questions ou problèmes avec votre compte,
              n'hésitez pas à répondre à ce mail, notre équipe de support se fera un plaisir de vous aider !
            </p>
            <p>L'équipe France Chaleur Urbaine</p>
          </div>
        </div>  
        <img style="height: 150px; margin-left: 32px;" alt="France Chaleur Urbaine"
        src="https://upload.wikimedia.org/wikipedia/fr/2/22/Republique-francaise-logo.svg">
      </div>
    </div>
  </div>
</body>

</html>