<html>
  <head>
    <style>
      .button {
        background-color: #000091;
        color: white;
        font-size: 1.25rem;
        line-height: 2rem;
        min-height: 3.5rem;
        padding: .75rem 2rem;
        cursor: pointer;
        text-decoration: none;
        margin-right: 16px;
      }

      .container {
        background-color: #f5f5ff;
        padding: 32px 16px;
      }

      .card {
        background-color: white;
        margin: auto;
        max-width: 800px;
        box-shadow: 0 2px 7px 0 rgb(0 0 0 / 21%);
      }

      .content {
        overflow-wrap: break-word;
        padding: 16px 32px;
      }

      .image {
        height: 200px;
      }

      .footer {
        font-size: 12px;
        color: gray;
      }
    </style>
  </head> 
  <body>
    <div class="container">
      <div class="card">
        <img class="image" alt="France Chaleur Urbaine"
          src="https://raw.githubusercontent.com/betagouv/france-chaleur-urbaine/dev/public/logo-fcu-with-typo.jpg">
        <div class="content">
          <p>Bonjour ! 👋</p>
          <p>
            Pour réinitialiser votre mot de passe, veuillez cliquer sur le bouton suivant (valable pendant 1 heure) :
          </p>
          <p>
            <a href="<%= link %>" class="button">
              Réinitialiser
            </a>
          </p>
          <br />
          <br />
          <div>
            Si le bouton ne fonctionne pas, veuillez copier directement le lien ci-dessous et le coller dans la barre
            d'adresse de votre navigateur :
          </div>
          <p>
            <%= link %>
          </p>
          <p>
            Et si cela ne fonctionne toujours pas, ou en cas d'autres questions ou problèmes avec votre compte,
            n'hésitez pas à répondre à ce mail, notre équipe de support se fera un plaisir de vous aider !
          </p>
          <p>L'équipe France Chaleur Urbaine</p>
        </div>
      </div>
    </div>
  </body>
</html>