# Analytics module
NEXT_PUBLIC_MATOMO_URL=https://matomo.example.fr
NEXT_PUBLIC_MATOMO_SITE_ID=1
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=GTM-XXXXXX
NEXT_PUBLIC_GOOGLE_TAG_ID=G-XXXXXXXXXX
NEXT_PUBLIC_LINKEDIN_PARTNER_ID=123456
NEXT_PUBLIC_HOTJAR_ID=123456
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
NEXT_PUBLIC_POSTHOG_KEY=XXXXXXXXXXX
NEXT_PUBLIC_POSTHOG_DEBUG=false